<section class="section-faq pt-5">
  <div class="container container-faq pt-5">
    <div class="row">
      <div class="col-lg-12 col-sm-12 mb-4 ">
        <h2 class="Faq-title">FAQ</h2>
      </div>
      <div class="col-lg-8 col-sm-12 ml-5">
        <div id="accordion">
          <!-- Card One -->
          <div class="card">
            <div class="card-header p-0" id="headingOne">
              <h5 class="mb-0 p-0">
                <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Watermark <span class="text-right Plus">+</span>
                  
                </button>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                
                  As all of our designs are unique and copyrighted, in the interest of safeguarding the same we have watermarked our designs on the website. However, once ordered, the final prints will NOT bear any watermarks.
                                        
              </div>
            </div>
          </div>
            <!-- Card Two -->
          <div class="card">
            <div class="card-header p-0" id="headingTwo">
              <h5 class="mb-0 p-0">
                <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  My Order and Delivery times <span class="text-right Plus">+</span>
                  
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                  <p>
                    <b>How do I place my order?</b>
                    <br>
                     Placing your order is very easy.
                    <br>
                     Browse through our excellent collection of products until you find something you like, choose the card, and then pick the quantity. You can then ‘Personalize’ the card with your details, preview your card and add to cart. You can change the quantity while checking out. You also have options to add extras to your order. Finalize your order, proceed to checkout, submit your shipping address, select the desired payment process and confirm your order. 

                    <br>
                    <br>
                    <b>How will I receive my order?</b>
                    <br>
                    We will ship your product to the shipping address provided by you at the time of checkout. We have tie ups with reputed courier companies, so your orders will be delivered to your doorstep. All orders will be delivered in fully sealed packages to protect your goods and ensure that they reach you in perfect condition. 

                    <br>
                    <br>
                    <b>How will I receive confirmation that my order is placed successfully?</b>
                    <br>
                     You will receive an email confirmation with your order details. You will receive another email when your order is shipped.
                     However, the order will be processed only after the payment has been approved and verified. 

                    <br>
                    <br>
                    <b>How can I check the status of my order?</b>
                    <br>
                     Unfortunately, we do not currently have a facility to check the status of your order online.
                     You will receive a confirmation email once the order is placed. Also, once your order is shipped, you will receive an update from us. In case of unforeseen delays, you will receive a special update with the details. If you still have apprehensions, write to us at <em style="color:#ed170c;">support@niyotaa.com</em> , and your issue will be addressed. 

                    <br>
                    <br>
                    <b>When Will I receive my order?</b>
                    <br>
                    <br>

                    1.	Lead Time for ‘Niyotaa Exclusive’ and ‘Designer’ Cards will be 1-2 weeks from the order acceptance, assuming there are no additional changes requested by the customer in our standard product. However, we will accommodate expedite requests, if feasible, for earlier shipping, but with standard delivery time. The company holds the right and discretion to extend the lead time without prior notification, but will inform the customer of the foreseen delay. 
                    <br>
                    <br>
                    2.	Lead Time for ‘Make My Card’ Cards will be 3-4days from the order acceptance, assuming there are no additional changes requested by the customer in our standard product. However, we will accommodate expedite requests, if feasible, for earlier shipping, but with standard delivery time. The company holds the right and discretion to extend the lead time without prior notification, but will inform the customer of the foreseen delay. 
                    <br>
                    <br>
                    3.	The above dates will vary for orders in USA, as the shipping time will vary depending on the state in which the order will be delivered. It may be a safe assumption to add 5-7 business days to the above lead time for deliveries in the USA. For expedited shipping, at additional costs, please contact <em style="color:#ed170c;">support@niyotaa.com</em> before ordering, or at <em style="color:#ed170c;">orders@niyotaa.com</em> if you decide to change shipping preference after the order has been placed. 
                    <br>
                  </p>
              </div>
            </div>
          </div>
            <!-- Card Three -->
          <div class="card">
            <div class="card-header p-0" id="headingThree">
              <h5 class="mb-0 p-0">
                <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Cancellation, Refunds and Exchange <span class="text-right Plus">+</span>
                  
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                  <p>
                      <b>How do I cancel my order?</b>
                      <br>
                      Please contact us on orders@niyotaa.com. Any amount paid will be credited into the same payment mode using which the payment was made. If you cancel part of the order, shipping charges will not be refunded. If the order is shipped already, unfortunately we wouldn’t be able to cancel it. Accepted Terms and Conditions apply.
                      <br>
                      <br>
                      <b>Can I modify the shipping address of my order after it has been placed?</b>
                      <br>
                      Yes, you can modify the shipping address of your order before we have processed (packed) it, by letting us know at <em style="color:#ed170c;">orders@niyotaa.com </em>
                      <br>
                      <br>
                      <b>I just cancelled my order. When will I receive my refund?</b>
                      <br>
                      For payments made via Credit Card, Debit Card, Net Banking, or Wallet you will receive refund into the source account within 7-10 business days from the time of order cancellation.

                      <br>
                      <br>
                      <b>Exchange Policy</b>
                      <br>
                      1. Cards in general cannot be exchanged as they are printed as per your requirements. Though, in the cases of order of Blank Cards, the cards can be exchanged provided you give us an appropriate reason for such action to be initiated on our part.
                      <br>
                      <br>
                      2. In cases of exchange, all the applicable shipping costs (to and fro) will be borne by you.
                      <br>
                      <br>
                      3. In cases where there are errors committed by us in printing the cards, we will take the responsibility upon us and we will be willing to reprint the cards for you. If in such cases you are not willing to do further business with us, we will refund the amount of the order within 15 days from the date of receipt of request for refund. Such request for refund must be made via an email.
                    </p>
              </div>
            </div>
              
            </div>

             <!-- Card Four --> 
            <div class="card">
              <div class="card-header p-0" id="headingFour">
                <h5 class="mb-0 p-0">
                  <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    Colors and Customization <span class="text-right Plus">+</span>
                    
                  </button>
                </h5>
              </div>
          
              <div id="collapseFour" class="collapse " aria-labelledby="headinFour" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        <b>Why does the color look different on my monitor than the actual product?</b>
                        <br>
                        <br>
                        The reason for this is not only that every monitor is different, every browser is different, and color created from light (your monitor) looks different from color created from ink (a printer). We do our very best to capture the colors as accurately as possible.                                            
                        <br>
                        <br>
                        The customer should expect the cards to be branded with our logo and web url.                                             
                        <br>
                        <br>
                        <br>
                        Any changes requested by the customer with respect to paper, design or size, will be considered as a customization, and will be chargeable,  if it includes changes to the original design as shown on the website. Any change in the price of the cards and shipping will be informed by us while working on proofs. The price change will depend on the type of customization you are looking for.                                             <br><br>
                        As a standard, all the envelopes come without any self adhesive.
                    </p>
                </div>
              </div>
            </div>

            <!-- Card Fiive -->
            <div class="card">
              <div class="card-header p-0" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    International Shipping <span class="text-right Plus">+</span>
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <p>
                      Shipping within India is Free. We ship internationally only to USA right now. In all International Shipping, the shipping and handling charges are paid for by the Customer while placing the Order.
                        <br>
                        The International Consignments are also liable for applicable custom duties and taxes as prevalent in the respective destinations, and an additional handling charge by the courier company that facilitates the customs clearance.
                        <br>
                        All customs duties/taxes and handling charges at the destination country are payable entirely by the Customer.
                        <br>
                        Rates of shipping are determined based on weight of the package which will be calculated while the customer places and order. 
                    </p>
                </div>
              </div>
            </div>

            <!-- Card Six -->
            <div class="card">
              <div class="card-header p-0" id="headingSix">
                <h5 class="mb-0 p-0">
                  <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Can i use International Credit/Debit card outside India? <span class="text-right Plus">+</span>
                    
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    <p>
                      No, Not right now. We only accept Credit/Debit cards from India.
                      <br>
                      However, soon we will be able to accept International payments.
                   </p>
                </div>
              </div>
            </div>
          
        </div>
     </div>
    </div>
  </div>
</section>
