.section-faq
{
    /* display: none; */
}
.Faq-title
{
    color: #292f38;
    
    font-weight: 400;
}
.btn-link
{
    color: #fff;
    background-color: #b1150d;
    text-decoration: none;
    position: relative;
}
.btn-link:focus
{
    background-color: #34495e;
}
.Plus
{
    position: absolute;
    right: 2%;
    
}
.card-body
{
    background-color: #ecf0f1;

}