<div class="footer">

  <div class="about text-center">
    <h4>About</h4>
    <h6 class="pt-2">Celebrate life’s joys with Niyotaa. Let us make your event special.</h6>
    <div class="icon py-3">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-google-plus-g"></i>
      <i class="fab fa-youtube"></i>
    </div>
    <div class="img">

     

      <img src="assets/img/payment_img_2.png" alt="visa">
      <img src="assets/img/payment_img_3.png" class="ml-2" alt="masterCard">
    </div>
  </div>

  <div class="info">
    <h4>Information</h4>
    <ul class="list-unstyled text-center">
      <li>Contect Us<span>></span></li>
      <li>FAQ<span>></span></li>
      <li>Terms & Conditions<span>></span></li>  
    </ul>
  </div>

  <div class="Newsletter">
    <h4>Newsletter</h4>
  
    <input type="text" placeholder="Your email address" class="w-100  form-control mt-3">
    <button class="btn ">Subscribe</button>

  </div>




</div>