<section class="section-contact  mt-5 w-100">
  <div class="container pt-5 ">
    <div class="row ">
        <div class=" col-sm-12 ">
            <h3 class="contact-header mr-auto">CONTACT FORM</h3>
            <p class="contact-title">Send an email.All fields with an <span class="star">*</span> are required</p>
        </div>
        <div class=" col-md-4 col-sm-12 ">
          <div class="form-group">
            <label class="Contact-label" for="">Name <span class="star">*</span></label>
             <input type="Name" class="form-control " name="" id="" aria-describedby="emailHelpId" placeholder="Your Name">
             
          </div>
        </div>
        <div class=" col-md-4 col-sm-12 ">
           <div class="form-group">
           <label class="Contact-label" for="">Email <span class="star">*</span></label>
           <input type="email" class="form-control " name="" id="" aria-describedby="emailHelpId" placeholder="Your Mail">
            
         </div>
         </div>
         <div class="col-lg-6 col-sm-12">
           <div class="form-group">
             <label class="Contact-label" for="">Subject <span class="star">*</span></label>
             <input type="subject" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Your Subject">
             
           </div>
         </div>
         <div class="col-lg-8 col-sm-12">
            <div class="form-group">
                <label class="Contact-label" for="exampleFormControlTextarea1"> Your Massege <span class="star">*</span></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write Here" rows="3"></textarea>
              </div>
         </div>
         <div class=" col-sm-12 ">
          <button type="submit" name="" id="" class="btn btn-danger" >Send</button>
      </div>
         
    </div>
  </div>
</section>

