.section-contact
{
    /* display: none; */
}
.container
{
    background-color: #ebe8e8;
}
.contact-header
{
    color: #292f38;
    font-weight:200;
}
.contact-title
{
    color: #696e6e;
}
.star
{
    color: #ed170c;
}
.Contact-label
{
    color: #696e6e;
}