<!-- Start Navbar1 -->
<div class="nav-1 ">
  <div class="container-fluid w-100">
    <div class="row Flex1">
      <div class="col-xl-#(>1200px) col-lg-#(> 992px) col-md-#(> 786px) col-sm-#(> 544px) pl-2">
        <ul class=" text-left  list-unstyled">
          <li>
            <!-- al id da hyclick hyzhar Section login-->
             <a id="loginB" class="list_style" href="">Login/Signup</a>
          </li>
        </ul>
      </div>
      <div class=" col-xl-#(>1200px) col-lg-#(> 992px) col-md-#(> 786px) col-sm-#(> 544px)">
         <ul class="text1 text-center list-unstyled">
           <li>
              <a  class="list_style" href="">Welcome to Niyotaa</a>
           </li>
         </ul>
       </div>
       <div class="col-xl-#(>1200px) col-lg-#(> 992px) col-md-#(> 786px) col-sm-#(> 544px) pr-2">
           <ul class=" text2 text-right list-unstyled">
             <li>
                <a id="contactB" class="list_style" href="">Contact Us | <a id="faqB" class="list_style" href="">FAQ</a></a>
             </li>
           </ul>
         </div>
     </div>
</div>
<!-- End Navbar1 -->

<!-- Start Navbar2 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
<a class="navbar-brand" href="#"><img src="../assets/img/Logo.png" class="img-nav" alt="logo"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse " id="navbarSupportedContent">
  <ul class="navbar-nav navbar1  mr-5 pr-4 ">
    <li class="nav-item ">
      <a  class="nav-lin active " href="#">Designer Cards <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a  class="nav-lin  " href="#">Niyotaa Exclusives</a>
    </li>
    <li  class="nav-item  dropdown">
      <a  class="nav-lin  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Design your card
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a  class="dropdown-item nav-lin" href="#">Start From Scratch</a>
        <a  class="dropdown-item nav-lin" href="#"> Customize a Template</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item nav-lin" href="#">eNiyotaa</a>
      </div>
    </li>
    <li class="nav-item">
        <a  class="nav-lin " href="#">Blog</a>
      </li>
  </ul>
  <ul class="navbar-nav ml-auto mt-3 ">
    <li class="list2">
        <a class="icon-list" href="">
         <i class="icon-list" class="far fa-heart "></i>
        </a>
      </li>
      <li class="list2">
       <a class="icon-list" href="">
         <i class="icon-list" class="far fa-copy  "></i>
        </a>
      </li>
      
        <li class="nav-item  dropdown">
          <div class="btn-group dropleft">
            <button type="button" class="btn list3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i  class=" pr-2" class="fas fa-shopping-cart fas-3"></i>  <span>
                <i  class="" class="fas fa-rupee-sign pl-3 "> 0.00</i>
                </span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
      </li>
  </ul>
</div>
</nav>
<!-- End Navbar2 -->

<!--Start Login-->
<section class="section-Login"> <!--display: Block هتخليها  login/signup ده هيرن لما تدوس علي -->
<div class="container">
  <div class="row">
    <div class="chapter-one m-auto">
      <div class="chapter-two  text-center">
        <div class="col-sm-12">
          <div class="">
              <button type="button" name="" id="" class="btn close btn-light text-right" > x </button>
          </div>
        </div>
        <div class=" col-sm-12 text-center">
          <img src="./assets/img/Logo.png" class="Login-img mt-5 mb-3" alt=""/>
      </div>
      <div class="col-sm-12">
        <form action="">
          <input class="form-control   mb-3" type="email" id="email" name="email" placeholder="Your Email">
          <input class="form-control  " type="password"  id="inputPassword3" placeholder="Password">  
        </form>
      </div> 
      <div class="button">
        <button type="submit" name="" id="" class="btn btnOne mt-2">Login</button>
          <small id="helpId" class="form-text text-muted"> <a class="login-frg" href=""> Forgot password? </a> </small>
          <br>
          
          <small id="helpId" class="form-text text-muted">- or -</small>
            <!-- اللي Section_signupهربت بالidده ال -->
          <button id="signupB" type="submit" name="" id="" class="btn btnTwo">Create an account</button>
      </div>
      <div class="row mt-5">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <button type="submit" class="btn btnThree">
            <i class="fab fa-facebook-f"></i> <span>Login with Facebook</span>
        </button>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
          <button type="submit" class="btn btnFour">
              <i class="fab fa-google"></i> <span>Login with Google</span>
          </button>
          
        </div>
      </div>
      </div>
    </div>
</div>
</div>
</section>
<!--Login Ended-->



