<section class="section-Login">
  <div class="container">
    <div class="row">
      <div class="chapter-one m-auto">
        <div class="chapter-two  text-center">
          <div class="col-sm-12">
            <div class="">
                <button type="button" name="" id="" class="btn close btn-light text-right" > x </button>
            </div>
          </div>
          <div class=" col-sm-12 text-center">
            <img src="./assets/img/Logo.png" class="Login-img mt-5 mb-3" alt=""/>
        </div>
        <div class="col-sm-12">
          <form action="">
            <input class="form-control   mb-3" type="email" id="email" name="email" placeholder="Your Email">
            <input class="form-control  " type="password"  id="inputPassword3" placeholder="Password">  
          </form>
        </div> 
        <div class="button">
          <button type="submit" name="" id="" class="btn btnOne mt-2">Login</button>
            <small id="helpId" class="form-text text-muted"> <a class="login-frg" href=""> Forgot password? </a> </small>
            <br>
            
            <small id="helpId" class="form-text text-muted">- or -</small>
            <button type="submit" name="" id="" class="btn btnTwo">Create an account</button>
        </div>
        <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <button type="submit" class="btn btnThree">
              <i class="fab fa-facebook-f"></i> <span>Login with Facebook</span>
          </button>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <button type="submit" class="btn btnFour">
                <i class="fab fa-google"></i> <span>Login with Google</span>
            </button>
            
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
</section>


