body
{
    position: relative;
}

.section-signUp
{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index:999999999999 ; 
    
}
.sec-one
{
    
    background-color: #fff;
    width: 450px;
    height: 520px;
    border-radius:5px; 
}

.sec-two
{
    margin: auto;
    width: 425px;
    height: 500px;
    margin-bottom: auto;
}
.close-section
{
    color: #DD4B39;
    font-size: 20px;
}
.Login-img
{
    width: 25%;
    
}
.buttonOne
{
    background-color: #5bc0de;
    color: #fff;
    padding: 9px 90px;
}
.login-forget
{
    color: #777777;
}
.buttonTwo
{
    background-color: #50d26b;
    color: #fff;
    padding: 9px 100px;
}
