<section class="section-signUp">
  <div class="container">
    <div class="row">
      <div class="sec-one m-auto">
        <div class="sec-two  text-center">
          <div class="col-sm-12">
            <div class="">
                <!--ده الزرار اللي هيقفل الصفحه-->
                <button id="btnClose" type="button" name="" id="" class="btn close-section btn-light text-right" > x </button>
            </div>
          </div>
          <div class=" col-sm-12 text-center">
            <img src="./assets/img/Logo.png" class="Login-img mt-5 mb-3" alt=""/>
        </div>
        <div class="col-sm-12">
          <form action="">
            <input class="form-control   mb-2" type="email" id="email" name="email" placeholder="Your Email">
            <input class="form-control  mb-2" type="password"  id="inputPassword3" placeholder="Password">  
            <input class="form-control  " type="password"  id="inputPassword3" placeholder="Confirm Password">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn  active">
                    <input type="checkbox" name="" id="" checked autocomplete="off">
                    <span>Agree to Terms & Conditions </span>
                </label>
            </div>
          </form>
        </div> 
        <div class="button">
          <button type="submit" name="" id="" class="btn buttonOne mt-2">Register</button>
            
          <br>
            
          <small id="helpId" class="form-text text-muted"> <a class="login-forget" href=""> Already have an account? </a> </small>
          <button type="submit" name="" id="" class="btn buttonTwo">Login</button>
          <br>
          <br>
          <small id="helpId" class="form-text text-muted"> Niyotaa Innovitations © 2016 </small>


          
        </div>
       
            
          </div>
        </div>
        </div>
      </div>
  

</section>